.ui.compartment-search > input {
    border: none;
    border-radius: 0;
}

.ui.compartment-search.ui.button {
    border: none;
    border-radius: 0;
}

.header-menu-item {
    color: white;
}

.header-menu-item:hover {
    background-color: #232425;
    color: #ddd;
}

.active:hover {
    color: white;
}

:root {
    --neuroglancer-topview-height: 0;
    --neuroglancer-topview-visibility: collapse;
    --neuroglancer-display-dimensions: collapse;
}

.neuroglancer-side-panel-titlebar.neuroglancer-layer-side-panel-title {
    background-color: rgb(39, 128, 220) !important;
}

.neuroglancer-viewer-top-row {
    background-color: var(--mantine-color-ngtop-6) !important;
    border-color: red !important;
    color: var(--mantine-color-text) !important;                /* Forces the right text color for most items for a given background */
}

.neuroglancer-layer-panel {
    visibility: collapse !important;
    height: 0 !important;
}

.neuroglancer-layer-item-value {
    visibility: collapse !important;
    height: 0 !important;
}

.neuroglancer-layer-panel[data-show-hover-values="true"] {
    visibility: collapse !important;
    color: black !important;
}

/* Prevents switching out of 3D view */
.neuroglancer-data-panel-layout-controls {
    visibility: collapse !important;
}

canvas {
    color: blue !important;
    background-color: blue !important;
    border-color: blue !important;
}

/*
Search Viewer
 */

#neuroglancer-container {
    overflow: hidden;
    border: 0 solid blue !important;
    border-radius: 0;
    box-shadow: none !important;
    box-sizing: content-box;
    webkit-box-sizing: content-box;
}

#neuroglancer-container .neuroglancer-display-dimensions-widget {
    visibility: var(--neuroglancer-display-dimensions) !important;
}

#neuroglancer-container .neuroglancer-viewer-top-row {
    margin: 0 !important;   /* Removes the black shadow under the controls top row */
    padding: 0 !important;  /* Removes the black shadow under the controls top row */
    height: var(--neuroglancer-topview-height) !important;
    visibility: var(--neuroglancer-topview-visibility) !important;
}

/* Fixes differences in the font in sizing due to page font*/
#neuroglancer-container input {
    margin: 3px;
    font-family: monospace;
    font-size: 13px;
    min-width: 14px;
}

/* Fixes differences in the font in sizing due to page font*/
#neuroglancer-container input.neuroglancer-position-dimension-scale {
    min-width: 30px;
}

/* Fixes differences in the font in sizing due to page font*/
#neuroglancer-container input.neuroglancer-position-dimension-coordinate {
    min-width: 30px;
}

#neuroglancer-container .neuroglancer-data-panel {
    border-color: green !important;
}

#neuroglancer-container .neuroglancer-panel {
    border-color: var(--mantine-color-section-6) !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-collapse: collapse;
}

/*
Candidate Viewer
 */

#candidate-ng-container .neuroglancer-rendered-data-panel {
    border-color: var(--mantine-color-section-6) !important;
    border-collapse: collapse;
}

#candidate-ng-container {
    overflow: hidden;
    flex: 1;
    color: white;
    border: 0 solid black;
    border-radius: 0px;
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .1);
    box-sizing: content-box;
    webkit-box-sizing: content-box;
}

#candidate-ng-container .neuroglancer-viewer-top-row {
    visibility: collapse !important;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
}

#candidate-ng-container .neuroglancer-rendered-data-panel {
    border-width: 0 !important;
}

#candidate-ng-container .neuroglancer-display-dimensions-widget {
    visibility: collapse !important;
}

#candidate-ng-container input.neuroglancer-position-dimension-scale {
    min-width: 30px;
}

#candidate-ng-container input.neuroglancer-position-dimension-coordinate {
    min-width: 30px;
}
