.ui.compartment-search > input {
    border: none;
    border-radius: 0;
}

.ui.compartment-search.ui.button {
    border: none;
    border-radius: 0;
}

.header-menu-item {
    color: white;
}

.header-menu-item:hover {
    background-color: #232425;
    color: #ddd;
}

.active:hover {
    color: white;
}

:root {
    --neuroglancer-topview-height: 0;
    --neuroglancer-topview-visibility: collapse;
    --neuroglancer-display-dimensions: collapse;
}

.neuroglancer-panel {
    border-color: var(--mantine-color-section-6) !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-collapse: collapse;
}

/* Fixes differences in the font in sizing due to page font*/
.ng-default-container input {
    margin: 3px;
    font-family: monospace;
    font-size: 13px;
    min-width: 14px;
}

.neuroglancer-viewer-top-row {
    background-color: var(--mantine-color-ngtop-6) !important;
    border-color: red !important;
    color: var(--mantine-color-text) !important; /* Forces the right text color for most items for a given background */
    margin: 0 !important; /* Removes the black shadow under the controls top row */
    padding: 0 !important; /* Removes the black shadow under the controls top row */
    height: var(--neuroglancer-topview-height) !important;
    visibility: var(--neuroglancer-topview-visibility) !important;
}

.neuroglancer-side-panel-titlebar.neuroglancer-layer-side-panel-title {
    background-color: rgb(39, 128, 220) !important;
}

.neuroglancer-side-panel-column {
    color: white !important;
}

.neuroglancer-layer-panel {
    visibility: collapse !important;
    height: 0 !important;
}

.neuroglancer-layer-item-value {
    visibility: collapse !important;
    height: 0 !important;
}

.neuroglancer-layer-panel[data-show-hover-values="true"] {
    visibility: collapse !important;
    color: black !important;
}

/* Prevents switching out of 3D view */
.neuroglancer-data-panel-layout-controls {
    visibility: collapse !important;
}

.neuroglancer-rendered-data-panel {
    border-color: var(--mantine-color-section-6) !important;
    border-width: 0 !important;
    border-collapse: collapse;
}

/* Fixes differences in the font in sizing due to page font*/
input.neuroglancer-position-dimension-scale {
    min-width: 30px;
}

.neuroglancer-display-dimensions-widget {
    visibility: var(--neuroglancer-display-dimensions) !important;
}

/* Fixes differences in the font in sizing due to page font*/
input.neuroglancer-position-dimension-coordinate {
    min-width: 34px;
}

.perspective-panel-show-slice-views {
    visibility: collapse !important;
    display: none !important;
}

/*
Search Viewer
 */

#neuroglancer-container .neuroglancer-panel {
    border-color: var(--mantine-color-section-6) !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-collapse: collapse;
}
